

<div *ngIf="dataLoaded==true && colors.length <= 0" class="alert alert-danger alert-dismissible" role="alert" id="myAlert">
  <strong>Başarısız</strong> Şuanda Renk Bulunamadı
</div>

<div *ngIf="error === 'HttpErrorResponse'" class="alert alert-danger alert-dismissible" role="alert">
  <strong>OOOPS!</strong> Bağlantı Hatası!
</div>

<div *ngIf="dataLoaded==true && colors.length > 0" class="container">

  <table class="table table-info">
    <thead>
    <tr>
      <th scope="col">Renk ID</th>
      <th scope="col">Renk Adı</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let color of colors">
      <td>{{color.colorId}}</td>
      <td>{{color.colorName}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="dataLoaded==false || colors.length <= 0">
  <app-loading></app-loading>
</div>
