<nav class="navbar navbar-expand-lg">
  <div class="logo">
     <a href="/"> <img src="assets/images/logo.svg">  </a>
  </div>
  <div class="container">
    <div class="menu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li><a routerLink="/" class="nav-link">ANASAYFA</a></li>
        <li><a routerLink="/brands" class="nav-link">MARKALAR</a></li>
        <li><a routerLink="/cars" class="nav-link">ARABALAR</a></li>
        <li><a routerLink="/colors" class="nav-link">RENKLER</a></li>
        <li><a routerLink="/customers" class="nav-link">MÜŞTERİLER</a></li>
        <li><a routerLink="/rentals" class="nav-link">KİRALANANLAR</a></li>
      </ul>
    </div>
  </div>
  <div class="icons">
    <ul>
      <li> <a href="https://www.instagram.com/emircan.dalmn/"><img src="assets/images/instagram.svg"></a></li>
      <li> <a href="https://github.com/Kontorta16"><img src="assets/images/github.svg"></a></li>
    </ul>
  </div>
</nav>
