<div *ngIf="dataLoaded==false">
  <app-loading></app-loading>
</div>
<div *ngIf="dataLoaded==true" class="container">

  <table class="table table-info">
    <thead>
    <tr>
      <th scope="col">Müşteri ID</th>
      <th scope="col">Kullanıcı ID</th>
      <th scope="col">Şirket Adı</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.id}}</td>
      <td>{{customer.userId}}</td>
      <td>{{customer.companyName}}</td>
    </tr>
    </tbody>
  </table>
</div>
