<!--<table class="table table-info">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th scope="col">Marka Adı</th>-->
<!--    <th scope="col">Renk Adı</th>-->
<!--    <th scope="col">Model Yılı</th>-->
<!--    <th scope="col">Günlük Fiyat</th>-->
<!--    <th scope="col">Açıklama</th>-->
<!--    <th scope="col"></th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let car of cars">-->
<!--    <td>{{car.brandName}}</td>-->
<!--    <td>{{car.colorName}}</td>-->
<!--    <td>{{car.modelYear}}</td>-->
<!--    <td>{{car.dailyPrice}}</td>-->
<!--    <td>{{car.description}}</td>-->
<!--    <td routerLink="/car/detailsbyid/{{car.id}}">Detay</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
